.hero{
    background-color: #5E62D1;
    height: 100%;
    width: 100%;

}
.Food-main{
    min-height: 100vh;
    width: 100%;
    background-color: #5E62D1;
    z-index: 0;
    display: flex;
}
.food-left{
    width: 50%;
    height: 50%;
    display: flex;
    display: flex;
    flex-direction: column;
    

    
}
.food-left h1{
    
    margin-left: 4vw;
    margin-top: 12vw;
    line-height: 1;
    width: 60%;
    font-size: 6vw;
    color: #5FECC8;
    font-weight: 600;
}
.food-down{
    margin-top: 4vw;
    display: flex;
    
}
.food-down .img-left img{
    height: 90%;
    width: 70%;
    object-fit: cover;
    object-position: calc();
}
.info-right{
    margin-top: 4vw;
    color: white;

    text-transform: uppercase;

}
.food-right{
    z-index: 99;
    height: 100vh;
    background-color: #E0E2EE;
    width: 50%;
}
.food-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.donate-food{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;

}
.left-heading{
    padding: 0 30px;
    width: 20%;
}
.left-heading h1{
    font-size: 5vw;
    color: #5FECC8;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}
.right-content{
    margin-right: 5vw;
    margin-top: 9vw;
    width: 65%;
    padding:0px 60px;
    
}
.steps{
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 20px;
}
.step-left{
    width: 50%;
}
.step-left h3{
    font-size: 2vw;
    color: #5FECC8;
}
.step-right{
    width: 50%;
}
.step-right h1{
    font-size: 2.6vw;
    color: #E0E2EE;
    text-transform: uppercase;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vw;
    height: 100vh;
    width: 100%;
    background-color: #5FECC8;
}
.intro .intro-head h1{
    font-size: 4vw;
    width: 100%;
    font-weight: 500;
    color: #5E62D1;
}
.intro .intro-head{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.intro-para{
    width: 50%;
    margin-top: 5vw;
}
.intro-para p{
    font-size: 1.4vw;
}
.intro-para ul li{
    list-style: circle;
    font-size: 1vw;
}
.intro-para ul {
    margin-top: 3vw;
}
.inputs input{
    color: white;
    width: 28.5vw;
    border-radius: 0;
    border-bottom: 1px solid black;
    /* border: none; */
    z-index: 99;
    outline: none;
    background-color: #5E62D1;
    /* background-color: rgb(43, 201, 149); */
}
.inputs{
    margin-top: 5vw;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
}
button{
    width: 100%;
    z-index: 99;
    border: 1px solid black;
    background-color: rgb(172, 149, 193);
}