.Project{
    width: 100%;
    padding: 20px 0;
    
}
.featured{
    width: 100%;
    padding: 0 26px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.featured h1{
    font-size: 5vw;
}
.containner{
    padding: 0 30px;
}
.cardds{
    width: 100%;
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.carrd{
    width: 50%;
    height: 80vh;
    position: relative;
}
.headings{
    position: absolute;
    color: #448b02;
    z-index: 9;
    font-size: 3.7vw;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 100%;
    font-weight: 600;
    display: flex;
}

.heading2{
    right: 100%;
    position: absolute;
    color: #448b02;
    z-index: 9;
    font-size: 3.7vw;
    transform: translate(50%,-50%);
    top: 50%;
    display: flex;
    overflow: hidden;
  
    font-weight: 600;

}
.insidecard{
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: gray;
    position: relative;
}
.insidecard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}