.eyes{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.eyes .in{
    width: 100%;
    height: 100%;
    
    background-image: url("https://images.unsplash.com/photo-1528190336454-13cd56b45b5a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    position: relative;
}
.eyes .in .eyespart{
    position: absolute;
    gap: 30px;
    /* height: 35vh; */
  
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
}
.eye{
    width: 15vw;
    height: 15vw;
    background-color: rgb(254, 255, 254);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye .blackcircle{
    height: 66.666%;
    width: 66.6666%;
    border-radius: 50%;
    background-color: black;
    
    position: relative;
    
}
.eye .blackcircle .rec{
    width: 100%;
    height: 1.5vw;
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}
.eye .blackcircle .balls{
    border-radius: 50%;
    background-color: rgb(255, 253, 253);
    width: 35px;
    height: 35px;
}