.Main {
  width: 100vw;
  height: 100%;
  background-color: #111;
  padding-top: 1px;
}

.textStructure {
  margin-top: 15vw;
  padding: 0px 40px;
}
.masker h1 {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 5.5vw;
  letter-spacing: -0.025em;
  font-weight: 900;
  font-size: 7vw;
}
.inside {
  width: fit-content;
  display: flex;
  align-items: center;
}
.inside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10px 20%;
}
.line {
  border-top: 1px solid rgba(69, 66, 66, 0.923);
  margin-top: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.line p {
  color: white;
  font-size: 1.3vw;
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1px;
}
.text {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 9999px;
}
.start:hover .circle {
  background-color: aliceblue;
  color: black;
  transition: 0.5s;
}
.start:hover .text {
  background-color: aliceblue;
  color: black;
  transition: 0.5s;
}
.circle {
  width: 2.4vw;
  height: 2.4vw;
  border: 2px solid white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.arrow {
  transform: rotate(45deg);
  font-weight: 800;
  font-size: 1.5vw;
}

@media (max-width: 600px) {
    .Main{
      height: 40%;
    }
    .textStructure{
        margin-top: 30vw;
    }
    .line p{
        font-size: 3vw;
    }
    .text{
        height: 8.6vw;
        width: 16vw;
        font-size: 2.4vw;
        
    }
    .circle{
        height: 8vw;
        width: 8vw;
    }
    .arrow{
      font-size: 3vw;
    }
    
}

