.main{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 92px;
    background-color: black;
}
.cardcontainer{
    width: 50%;
    height: 50vh;
    display: flex;
  

}
#ok{
    display: flex;
    gap: 10px;
}
.cardcontainer .card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 96, 71);
    border-radius: 10px;
    font-size: 3vw;

}
.card2{
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(101, 130, 123);
}
