.nav button{
        background-color: #000000;
        color: #ffffff;
        
    
}
.Clothes-Page{
    height: 100vh;
    
      
    width: 100%;
}
.Page-1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-image: url('https://cdn.pixabay.com/photo/2022/01/28/17/33/lines-6975227_1280.jpg');
    background-size: cover;
    background-position: center;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.heading-text{
    position: absolute;
    color: #000000;
    
    right: 4%;
    top: -10%;
    padding-top: 17rem;
   
   
}
.heading-text h1{
    font-size: 3.6rem;
}
.heading-text p{
    font-size: 2rem;
    
    position: absolute;
    right: 1%;
}
.image{
    position: absolute;
    right: 15%;
    top: 30%;
    height: 20rem;
    width: 20rem;
}
.cards-collection{
    display: flex;
    height: 60vh;
    overflow: hidden;
   
    
}
.card-single{
    width: 33.3333%;
    position: relative;
    background-color: red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    cursor: pointer;

   
}
.Cardds-3:hover .buttondiv{
    border-radius: 30px;
    height: 12vh;
    width: 20vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    transition: 0.5s;
}
/* .buttondiv{
    height: 10vh;
    width: 20vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    
    color: white;
    justify-content: center;

} */
.img{
    position: absolute;
   left: 15%;
    
    overflow: hidden;

}
.card-single img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.Cardds-1:hover img{
    transform: rotate(90deg);
    
    transition: 2s ease-in;
}
.photos{
    position: absolute;
    top: -40%;
    height: 10vh;
    display: flex;
    gap: 10px;
}
.Cardds-2:hover .photos{
    top: 30%;
    transition: 2s;

}
.Cardds-1{

    color: rgba(0, 0, 0, );
    background-image: url('https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_1280.jpg');
}
.Cardds-2{
    display: flex;
    flex-direction:  column;
    border-radius: 0;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/319/285/264/surface-background-texture-light-wallpaper-preview.jpg");
}
.Cardds-3{
    background-image: url('https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?w=996&t=st=1709048047~exp=1709048647~hmac=8da376beb89100d789da563fac483cc8edf89910b0d24c66cb0b4b6bfe284547');
}
.space{
    height: 10vh;
    width: 100%;
}
.about-donation{
    height: 100vh;
    width: 100%;
    background-image: url('https://plus.unsplash.com/premium_photo-1669392157886-f4e298c8ec6b?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    position: relative;

}
.option h1{
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    color: #000000;
    font-weight: 900;

}
.option{
    
    border-radius: 50px;
    width: 18vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.activeoption{
    background-color: black;
   
}
.activeoption h1{
    color: white;
}
.option:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
}
.option:hover h1{
    color: #ffffff;
    transform: scale(1.2);
    transition: 0.5s;   
    

}
.option1{
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: rotate(-20deg);


}
.option2{
    z-index: 2;
    position: absolute;
    top: 8%;
    left: 35%;
    transform: rotate(-10deg);
}
.option3{
    z-index:2;
    position: absolute;
    top: 22%;
    left: 28%;
    transform: rotate(10deg);
}
.Text-Box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding-right: 100px;
}
.Text-Box h2{
    line-height: 1.9vw;
    font-weight: 700;
    font-size: clamp(1.5rem, 1vw, 4rem);
}
.Text-Box h1{

    margin-top: 40px;
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: #000000;
    font-weight: 900;
    margin-bottom: 20px;
}
.Text-Box p{
    font-size: clamp(1rem, 1vw, 2rem);
    color: #000000;
    font-weight: 400;
    margin-bottom: 20px;
}
p{
    font-size: clamp(1rem, 1.4vw, 2.6rem);
}