.nav{
    width: 100vw;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    position: fixed;
    z-index: 999;

}
.nav .logo{
    height: 10%;
    width: 105;
    cursor: pointer;
}
.logo img{
    height: 10%;
    width: 10%;
    object-fit: contain;
    object-position: center;
    
}
.a-link:hover{
    border-bottom: 1px solid orangered;
}
.nav-black{
    color: black;
}
.a-link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
   
}
.links{
    display: flex;
    gap: 20px;
    
    
    
}
.login-signup button{
    
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 8vw;
    border-radius: 0px;
}
.login-signup button:hover{
    
    transition: 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);
    color: black;

}
.Profile{
    height: 7%;
    width: 2.5%;
    cursor: pointer;
    overflow: hidden;
}
.Profile:hover{
    border: 1px solid orangered;
    border-radius: 50%;
    transition: 0.5s ease-in-out;

}



@media (max-width:600px) {
    .nav{
        flex-direction: column;
        font-size: 3vw;
    }
    .logo{
        font-size: 1vw;
    }
    
}