.profile{
    color: whitesmoke;
    
    width: 100%;
    
}
.Dashboard{
    
    
    min-width: 100%;
    background-color: black;
    color: white;
    position: relative;
    display: flex;
}
.left-navi{
    padding-top: 10%;
    height: clamp(300px, 40vw, 600px);
    width: clamp(200px, 20vw, 300px);
   
    border-right:1px solid whitesmoke ;
    
}
.Dashboardd-item-selected{
    background-color: #fff;
    color: black;
}
.Dashboardd-item:hover{
    background-color: rgb(107, 217, 127);
    transition: 0.5s ease-in-out;
    color: black;
}
.Dashboardd-item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
   
    
}


.right-dashboardd{

    width: 100%;
    margin-top: clamp(80px, 8vw, 200px);
    border-top: 1px solid #fff;
   
   
   
}

.carddss{
   
   margin: 0;
    color: black;
    
    display: flex;
    width: 100%;
   
    flex-wrap: wrap;
    
    gap: 50px;
    
}

.card-dashboardd img{
    height: clamp(40px, 1.5vw, 80px);
    width: clamp(40px, 1.5vw, 80px);
    
    object-fit: cover;
    object-position: center;
}

.card-dashboardd{

    height: clamp(140px, 20vw, 200px);
    padding: 50px;
    width: clamp(140px, 20vw, 200px);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(249, 249, 249, 0.8);
}

.card-dashboardd:hover{
    background-color: rgb(107, 217, 127);
    transition: 0.5s ease-in-out;
    color: black;
}
.card-dashboardd h1{
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    margin-top: 10px;
    color: rgb(10, 143, 10);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.card-dashboardd p{
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    color: rgb(204, 32, 32);

    text-align: center;

}
.card-bg-yellow{
    background-color: yellow;
   
}
.card-bg-green{
    background-color: rgb(34, 170, 86);
   
}
.card-bg-red{
    background-color: red;
}

.Modall{
    position: absolute;
    top: 12%;
    left:25%;
    border: 1px solid rgb(0, 0, 0);
    /* //box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); */
    overflow: hidden;
    border-radius: 20px;
    width: 55%;
    height: clamp(400px, 30vw, 501px);
    z-index: 1000;
    background-color: white;
    position: absolute;
    color: black;
}
.Modall .Modal-content{

    display: flex;
    flex-direction: column;
    gap: 20px;
    
    height: 100%;
    width: 100%;

}
.Modal .Modal-content p{
    padding: 0 20px;
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    width: 90%;
    border-bottom: 1px solid black;
    color: black;
    margin-top: 20px;
}
.Icon-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: clamp(1rem, 2.2vw, 2.3rem);
    cursor: pointer;
}
.buts{
    margin-top: 50px;
    width: 100%;
    
    display: flex;
    
   
    justify-content: space-around;
    align-items: center;
}
.but:not(:last-child){
    background-color: green;
}
.but{
    
    height: clamp(30px, 3vw, 40px);
    width: 30%;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
}
.Contribute{
    overflow: hidden;
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px 50px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   
    
}
.forms label{
    width: 100%;
    gap: 0;
}
label .entry{
    width: 100%;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: grey;
}
.contributebtn{
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    
    font-size: 1rem;
    color: grey;
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
}
.contributebtn:hover{
    background-color: #028f76;
}

.ok{
    position: absolute;
    height: 30%;
    width: 15%;
    right: -100%;
    
}
.Profile-Page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.espace{
    height: 20vh;
    width: 100%;
    background-color: #028f76;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.espace h1{
    font-size: clamp(1.4rem, 2vw, 2.1rem);
    color: #ffffff;
 
    
}

.profile-info{
    display: flex;
    height: 40vh;
    width: 100%;
   
    flex-wrap: wrap;
   
}

.profile-info h1{
    position: relative;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    color: #ffffff;
    width: 50%;
    
}
.profile-info span{
    
   
    color: #ee5b5b;
   

}
.profile-info button{
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.confetti-hidden{
    opacity: 0;
}
.confetti-display{
    opacity: 1;
}


@media(max-width:500px){
    .Dashboard{
        min-height: 200vh;
        flex-direction: column;
        
    }
    .left-navi{
        display: flex;
        width: 100%;
        height: 25vw;
        
        
    }
    .Dashboardd-item{
       height: 100%;
       width: 20%;
       padding: 10px;
       
    }
    .Dashboardd-item h1{
        font-size: clamp(0.7rem, 3vw, 1rem);
        
        
    }
    .carddss{
       
        margin-top: 50px;
        justify-content: center;

    }
    .forms{
        width: 100%;
    }
    .Modall{
        left: 17%;
        width: 70%;
        

    }
    .Modal .Modal-content{
        padding: 20px;
        
    }
    
    
    
   
    
}
@media(min-width:501px){
    .Dashboardd-item{
        height: 20%;
    }
    .right-dashboardd{
        padding: 50px;
    }
    .Modall .Modal-content{
        padding: 50px 100px;
        
    }
    /* .left-navi{
       
        width: 20%;
        
        
    } */
    
}